.footer {
    background-color: var(--bg-card);
    padding: 10px 0;
    /* Slightly reduced padding */
    border-top: 1px solid var(--border-color);
    flex-shrink: 0;
    /* Prevent footer from shrinking */
    z-index: 10;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.footer-container p {
    margin: 0;
    text-align: center;
}



@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}