:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    /* Space for Navbar */
    overflow-y: auto;
    /* Allow internal scrolling for longer pages like About/Projects */
    position: relative;
}